<head>
    <link rel="stylesheet" href="/stylesheets/style2.css">
</head>

<div class="container">

    <center>
        {{#if clientes.length}}
        <table><h1 class="page-title">INFORMACION DEL CLIENTE</h1>
            <thead> 
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    <td>{{run}}</td>
                    <td>{{nombre}}</td>
                    <td>{{direccion}}</td>
                    <td>{{email}}</td>
                    <td>{{telefono}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No hay clientes para mostrar.</p>
        {{/if}}

        <br>
        <br>
        <a href="/clientes/Clientes">Retornar</a>

    </center>
</div>